<!DOCTYPE html>
<html>

<head>
    <title>TravPlan</title>
    <link rel="apple-touch-icon" sizes="180x180" href="src/client/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="src/client/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="src/client/images/favicon-16x16.png" />
    <link rel="icon" type="image/png" href="src/client/images/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- google font api and fontawesome-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- CSS style sheets -->
    <link rel="stylesheet" href="../styles/footer.scss" />
    <link rel="stylesheet" href="../styles/main.scss" />
    <link rel="stylesheet" href="../styles/nav.scss" />
    <link rel="stylesheet" href="../styles/mytrips.scss" />
    <script src="https://use.fontawesome.com/releases/v5.9.0/js/all.js" data-auto-replace-svg></script>
</head>

<body>
    <div id="main">
        <nav class="navbar">
            <img alt="TravPlan"
                src="https://www.freelogodesign.org/file/app/client/thumb/e696e529-435c-4d3a-8aa3-0a6390a0310e_200x200.png?1614504354489"
                class="logo" />
            <h1>travPlan</h1>
            <ul class="nav-links">
                <ol class="home"><a href="index.html">HOME</a></ol>
                <ol class="nav-item">
                    <a href="mytrips.html" class="nav-my-trips">MY TRIPS</a>
                </ol>
            </ul>
        </nav>
    </div>
    <!-- The form is submitted and gets added here with images and wether info -->
    <main>
        <img alt="beach" src="https://cdn.pixabay.com/photo/2012/02/23/08/38/rocks-15712_960_720.jpg" class="bg-img">
    </main>
    <h3> Please wait your trip is is getting loaded... </h3>
    <section class="trip" id="trips"></section>
    <footer>

        <p> &copy; 2020 travPlan by <a href="https://github.com/sdkdeepa"> Deepa</a></p>
    </footer>

    <!-- Register Service Workers -->
    <script>
        // Check that service workers are supported
        if ("serviceWorker" in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener("load", () => {
                navigator.serviceWorker.register("/service-worker.js");
            });
        }
    </script>
</body>

</html