/* refernce: https://matthewjamestaylor.com/bottom-footer */

footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  text-align:center;
  padding-bottom: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight:normal;
  font-size: large;
padding: 0;
}

p {
  margin: 5px;
}
